{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<img src="{{ asset('build/images/cover.jpg') }}" alt="Restaurant Le Quai Antique" title="Restaurant Quai Antique">
		<div class="cover-text">
			<h1>RESTAURANT LE QUAI ANTIQUE | PARIS</h1>
			<a href="#discover" class="btn btn-primary btn-lg">DÉCOUVRIR</a>
			<a href="{{path('app_reservation_new')}}" class="btn btn-primary btn-lg">RÉSERVER</a>
		</div>
	</header>
	<div class="card-container ">
		<div class="row" id="discover">
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="card">
					<img src="{{ asset('build/images/champagne.jpg') }}" alt="Champagne - Quai Antique" title="Champagne - Quai Antique" class="card-img-top">
					<div class="card-body">
						<h3 class="card-title">
							{{champagne.title}}
						</h3>
						<h5 class="card-subtitle">
							Prix :
							{{champagne.price}}€
						</h5>
						<p class="card-text">{{champagne.description}}</p>
						<a href="{{path('app_card')}}" class="btn btn-primary">
							Notre
							{{categoryChampagne}}
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="card">
					<img src="{{ asset('build/images/fish.jpg') }}" alt="Poisson - Quai Antique" title="Poisson - Quai Antique" class="card-img-top">
					<div class="card-body">
						<h3 class="card-title">
							{{fish.title}}
						</h3>
						<h5 class="card-subtitle">
							Prix :
							{{fish.price}}€
						</h5>
						<p class="card-text">{{fish.description}}</p>
						<a href="{{path('app_card')}}" class="btn btn-primary">
							Nos
							{{categoryFish}}
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="card">
					<img src="{{ asset('build/images/burger.jpg') }}" alt="Burger - Quai Antique" title="Burger - Quai Antique" class="card-img-top">
					<div class="card-body">
						<h3 class="card-title">
							{{burger.title}}
						</h3>
						<h5 class="card-subtitle">
							Prix :
							{{burger.price}}€
						</h5>
						<p class="card-text">{{burger.description}}</p>
						<a href="{{path('app_card')}}" class="btn btn-primary">
							Notre
							{{categoryBurger}}
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="card">
					<img src="{{ asset('build/images/ice.jpg') }}" alt="Glace - Quai Antique" title="Glace - Quai Antique" class="card-img-top">
					<div class="card-body">
						<h3 class="card-title">
							{{ice.title}}
						</h3>
						<h5 class="card-subtitle">
							Prix :
							{{ice.price}}€
						</h5>
						<p class="card-text">{{ice.description}}</p>
						<a href="{{path('app_card')}}" class="btn btn-primary">
							Nos
							{{categoryIce}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('build/images/carousel.jpg') }}" alt="Restauration - Quai Antique" title="Restauration - Quai Antique" class="d-block img-fluid">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/carousel2.jpg') }}" alt="Restauration - Quai Antique" title="Restauration - Quai Antique" class="d-block img-fluid">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/carousel3.jpg') }}" alt="Restauration - Quai Antique" title="Restauration - Quai Antique" class="d-block img-fluid">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/carousel4.jpg') }}" alt="Restauration - Quai Antique" title="Restauration - Quai Antique" class="d-block img-fluid">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/carousel5.jpg') }}" alt="Restauration - Quai Antique" title="Restauration - Quai Antique" class="d-block img-fluid">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>Quai Antique</h1>
				<h5>La restauration, un métier de passion</h5>
				<p>
					Depuis 2001, notre restaurant de gastronomie s'est établi comme l'un des meilleurs endroits pour savourer des plats exquis préparés avec passion et dévouement. En tant que chef et propriétaire, j'ai toujours veillé à ce que la qualité du service soit au centre de nos préoccupations, en proposant une première réservation inoubliable à tous nos clients.
				</p>
				<p>
					Nous sommes fiers de notre équipe de professionnels passionnés et expérimentés, qui travaillent dur pour s'assurer que chaque plat est préparé avec les meilleurs ingrédients et la plus grande attention aux détails. De plus, nous sommes constamment à la recherche de nouvelles saveurs et de nouvelles inspirations pour élargir notre carte et offrir à nos clients une expérience culinaire toujours plus riche et diversifiée.
				</p>
				<p>Nous sommes impatients de vous accueillir dans notre restaurant gastronomique, où nous sommes sûrs que vous trouverez une cuisine de qualité et un service exceptionnel qui répondront à toutes vos attentes. Que ce soit pour un dîner romantique ou une soirée entre amis, notre restaurant est l'endroit idéal pour découvrir une cuisine raffinée et des saveurs uniques.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
