{% extends 'base.html.twig' %}

{% block title %}Carte
{% endblock %}

{% block body %}
	<h1 class="title-card">CARTE</h1>
	<div>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<div class="food-card">
		{% for category in categories %}
			<div class="details-card">
				<h3 class="name-category">{{ category.name | upper }}</h2>
				{% for card in category.card %}
					<div class="info-card">
						<div class="name-price">
							<p class="name-card">{{ card.title }}</p>
							<p class="price-card">{{ card.price }}€</p>
						</div>
						<p class="desc-card">{{ card.description }}</p>
					</div>

				{% endfor %}
			</div>

		{% endfor %}
	</div>
{% endblock %}
