{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Modification du mot de passe de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">MODIFICATION DU MOT DE PASSE</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4 flash">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger flash">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(form) }}
		{{ form_row(form.plainPassword.first) }}
		{{ form_row(form.plainPassword.second) }}
		{{ form_row(form.newPassword) }}
		<button type="submit">
			MODIFIER MON MOT DE PASSE
		</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
