{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Modification de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">MODIFICATIONS DU PROFIL</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<div>{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.firstname) }}
			{{ form_row(form.lastname) }}
			{{ form_row(form.phone) }}
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
