{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="title-reservation">RÉSERVATION</h1>

	<div class="form">
		{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
		<div class="form-bloc">
			<div class="form-group">{{ form_row(form.firstname) }}</div>
			<div class="form-group">{{ form_row(form.lastname)}}</div>
		</div>
		<div class="form-bloc">
			<div class="form-group">{{ form_row(form.number_of_guest) }}</div>
			<div class="form-group">{{ form_row(form.date)}}</div>
		</div>
		{{ form_row(form.allergy) }}
		<button>{{ button_label|default('RÉSERVER') }}</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
