{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="title-reservation">RÉSERVATION</h1>

	<div class="form">
		{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
		<div class="form-bloc">
			<div class="form-group">{{ form_row(form.FirstName) }}</div>
			<div class="form-group">{{ form_row(form.LastName)}}</div>
		</div>
		{{ form_row(form.NumberOfGuest)}}
		{{ form_row(form.Allergy)}}
		{{ form_row(form.Date)}}
		{{ form_row(form.Hour)}}
		<button>{{ button_label|default('RÉSERVER') }}</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
