{% extends 'base.html.twig' %}

{% block title %}Hello ScheduleController!
{% endblock %}

{% block body %}
	{% for schedule in schedules %}
		{{schedule.day}}
		:
		{{schedule.OpeningHour}}:00 -
		{{schedule.BeginningBreakHour}}:00    /
		{{schedule.EndingBreakHour}}:00 -
		{{schedule.ClosingHour}}:00
	{% endfor %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{message}}
		</div>
	{% endfor %}
{% endblock %}
