{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1 class="insc-title">INSCRIPTION</h1>

	<div class="form">
		{{ form_start(registrationForm, {'attr':{'novalidate':'novalidate'}}) }}
		<div class="first-last">
			<div class="form-group">{{ form_row(registrationForm.FirstName, {'label': 'Prénom *'}) }}</div>
			<div class="form-group">{{ form_row(registrationForm.LastName, {'label': 'Nom *'}) }}</div>
		</div>
		{{ form_row(registrationForm.email, {'label': 'Email *'}) }}
		<div class="first-last">
			<div class="form-group">{{ form_row(registrationForm.plainPassword.first, {'label': 'Mot de passe *'}) }}</div>
			<div class="form-group">{{ form_row(registrationForm.plainPassword.second, {'label': 'Confirmer le mot de passe *'}) }}</div>
		</div>
		{{ form_row(registrationForm.phone, {'label': 'Numéro de Téléphone *'}) }}
		{{ form_row(registrationForm.agreeTerms, {'label': 'Conditions Générales *'}) }}
		<button type="submit">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
