{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
	{{ form_row(form.FirstName, {'label': 'Prénom *'}) }}
	{{ form_row(form.LastName, {'label': 'Nom *'}) }}
	{{ form_row(form.phone, {'label': 'Numéro de Téléphone *'}) }}
	{{ form_row(form.email, {'label': 'Email *'}) }}
	{{ form_row(form.agreeTerms, {'label': 'Conditions Générales *'}) }}
	{{ form_row(form.plainPassword.first, {'label': 'Mot de passe *'}) }}
	{{ form_row(form.plainPassword.second, {'label': 'Confirmer le mot de passe *'}) }}
	<button type="submit">S'inscrire</button>
	{{ form_end(form) }}
{% endblock %}
