<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<div class="d-flex align-items-center">
			<a class="navbar-brand" href="{{path('app_home')}}">
				<img src="{{ asset('build/images/logo.png') }}" alt="Logo Quai Antique" title="Quai Antique">
			</a>
			<button class="navbar-toggler ms-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewbox="0 0 16 16">
						<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
					</svg>
				</span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'app_home' ? 'active' : '' }}" aria-current="page" href="{{path('app_home')}}">ACCUEIL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'app_card' ? 'active' : '' }}" " href=" {{path('app_card')}} "">CARTE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'app_menu' ? 'active' : '' }}" " href=" {{path('app_menu')}} " ">MENU</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') in ['app_reservation_new', 'app_pre_reservation', 'app_register'] ? 'active' : '' }}" href="{{ path('app_pre_reservation') }}">RÉSERVATION</a>
				</li>
				<li class="nav-item">
					{% if app.user and 'ROLE_USER' in app.user.roles %}
						<a class="nav-link " href="{{path('app_logout')}}">DÉCONNEXION</a>
					{% else %}
						<a class="nav-link {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}" " href=" {{path('app_login')}} ">CONNEXION</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
