{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<h1 class="title">MOT DE PASSE OUBLIÉ</h1>

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<div class="form">
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse e-mail, nous allons vous envoyer un lien pour résilier votre mot de passe.
			</small>
		</div>

		<button>ENVOYER E-MAIL</button>
		{{ form_end(requestForm) }}</div>

{% endblock %}
